
.contenetodo{
    width: 700px;
    /*height: 550px;*/
    border: 2px solid black;
    position: relative;
    top: 40px;
    left: 40px;
}

.mostrar{
    background: green;
}

.flotados{
    float: left;
}

.notiprin{
    width: 68%;
    height: 240%;
    margin-top: 15px;
}

.barra{
    width: 30%;
    height: 80%;
    margin-top: 15px;
}

.bloque{
    background: blue;
    border: 1px solid black;
    float: left;
}



.titulo{

}

.subtitulo{
    margin: auto;
}

.fotos div{
    width: 30%;
    height: 100%;
    float: left;
}

.epigrafe-foto