#tablero{
    width: 400px;
    /*height: 400px;*/
    border:6px solid green;
    margin:auto;
    margin-top: 100px;
    overflow: hidden;
}

.casillero{
    width: 100px;
    height: 100px;
    float: left;
}

.colorado{
    background: red;
}

.negro{
    background: black;
}

.borde-inferior{
    padding-bottom: 10px;
    background: purple;
    float: left;
}
